body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.player {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.subtitles {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}

input {
    padding: 10px;
    margin: 10px 0;
    width: calc(100% - 22px);
}

input#repeatInput {
    display: none;
}

input#delayInput {
    display: none;
}
